<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node name="joy" pkg="joy" exec="joy_node"/>
  <node name="keyboard" pkg="keyboard" exec="keyboard" namespace="keyboard"/>

  <!--> <node exec="teleop" pkg="scorbot" name="robot" output="screen"/>  </!-->

  <node name="universal_teleop" pkg="universal_teleop" exec="universal_teleop" output="screen">
    <param from="$(find-pkg-share universal_teleop)/launch/scorbot_input_map.yml"/>
  </node>
</launch>
